<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>

    <body>
        {{> header}}
        <p>what are you looking for</p>
        
        {{> footer}}
    </body>
</html>